/********************************************
GENERAL
*********************************************/
html, body{
	margin: 0;
	height: 100%;
}
h1, h2{
	font-family: 'Permanent Marker', cursive;
	margin: 0;
}
h1{
	font-size: 230%;
}
h2{
	font-size: 170%;
}
h3{
	font-family: 'Architects Daughter', cursive;
	color: #A6C4B4;
	font-size: 140%;
	margin: 0;
}
p{
	font-family: 'Source Sans Pro', sans-serif;
    color: #eaeaea;
    font-size: 108%;
    margin: 1%;
    font-weight: 300;
}
a, a:visited{
	text-decoration: none;
}

#wrapper-ext{
	background-color: #2C002D;
	min-height: 80%;
	padding-top: 5%;
	padding-bottom: 5%;
}
#wrapper{
	max-width: 750px;
	margin: 0 auto;
	/*border: 1px solid black;*/
}
form{
	padding-top: 2%;
}
input[type=text] {
	    width: 10vw;
	    border: 2px solid #dbece3;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    border-radius: 5px;
	    font-family: 'Source Sans Pro', sans-serif;
	    font-size: 108%;
	    font-weight: 300;
}
button {
	margin: 1.5% 0.5%;
    font-size: 108%;
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 90%%;
	font-weight: 300;
    color: #2c002d;
    background: #eaeaea;
    border: 1px solid #eaeaea;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/********************************************
HEADER
*********************************************/
header{
	margin: 0 1% 12% 1%;
}
header img{
	height: 10vh;
	float: left;
}
header ul{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
}
header h1{
	margin-right: 5%;
	color: #97EFBE;
	text-align: right;
}
header li:nth-child(1){
	margin-top: 5%;
	margin-left: 4%;
}
header h2{
	margin-left: 1%;
	display: inline;
	color: rgba(255, 255, 255, 0.67);
	text-align: left;
}
#points{
	color: #5D076B;
}

/********************************************
CONTENT
*********************************************/

/* show hide ANSWER */
.answer{
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	transition: max-height 0.5s;
}
.q-open .answer{
	max-height: 500px;
	-webkit-transition: max-height 1s;
	-moz-transition: max-height 1s;
	transition: max-height 1s;
}
.content{
	padding: 0 9% 9% 9%;
}
.question{
	margin: 5px;
}
.question h3{
	padding-top: 14px;
}
.answer{
	background-color: #490043;
	border: 1px solid #5D076B;
	padding-left: 3%; 
}

/*********************************************************************************
FOOTER
*********************************************************************************/

.footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 8vh;
  color: #ccc;
  background-color: #eaeaea;
  height: 20%;
}

.social-icon {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  padding: 3px 6px;
}

.footer p{
	color: #2c002d;
}

/*********************************************************************************
MOBILE FORMS
*********************************************************************************/
@media only screen and (max-device-width: 480px){

	input[type=text] {
		-webkit-appearance: none;
	    -moz-appearance: none;
	    display: block;
	    margin: 2% 0 4% 0;
	    width: 90%;
	    height: 35px;	
	}

	button {
	    display: block;
	    margin: 15% 0 8% 0;
	    font-size: 1em;
	    height: 2.5em;
	    width: 91%;
	}

}